@value types: "styles/typography.module.css";
@value fz-lg from types;
@value colors: "styles/colors.module.css";
@value gray, gray-lt, gray-dk, orange-dk,  white from colors;
@value layout: "styles/layout.module.css";
@value gap-md from layout;
@value queries: "styles/breakpoints.module.css";
@value sm-device, md-device, md-lg-device, lg-device from queries;

.container {
	composes: section flex_child from "styles/layout.module.css";
}

.banner_container {
	composes: slideUp_animation from 'styles/animations.module.css';
	animation-delay: 0.6s;
}

.list {
	composes: flex_grid from 'styles/layout.module.css';
	border: 1px solid black;
	composes: slideUp_animation from 'styles/animations.module.css';
	animation-delay: 1.2s;
}

.cell {
	composes: flex_centered from 'styles/layout.module.css';
	height: 100px;
	font-size: fz-lg;
}

.cell:last-child {
	background-color: gray-dk;
	color: white;
}

.cell_error {
	composes: cell;
}

.cell input {
	width: 100%;
	height: 100%;
	padding: 0 gap-md;
	background-color: white;
	color: gray-dk;
	transition: all 0.3s ease-in-out;
}
.cell input:hover,
.cell input:focus {
	background-color: gray;
	color: white;
}

.cell_error input{
	color: orange-dk;
}

@media sm-device {
	.cell input {
		text-align: center;
	}
}
@media md-lg-device {
	.cell input {
		text-align: right;
	}
}


