@value colors: "styles/colors.module.css";
@value gray-lt from colors;
/* flex classes */
.flex {
	display: flex;
	width: 100%;
}
.flex_centered {
	composes: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flex_table {
	composes: flex;
	flex-direction: column;
	align-items: flex-start;
}

.flex_table > * {
	width: 100%;
}

.flex_child {
	composes: flex;
	flex-grow: 1;
	align-self: stretch;
}

.flex_col_4 {
	composes: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.flex_col_4 > * {
	flex: 0 0 25%;
	border-right: 1px gray-lt;
}

.flex_col_4 > *:last-child {
	border: none;
}

/* section */

.section {
	composes: flex_table;
	padding: 20px;
	background-color: gray-lt;
}