@value colors: "styles/colors.module.css";
@value gray-dk from colors;

body {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	color: gray-dk;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

h1, h2, ul ,li {
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}

ul {
	list-style: none;
}

input {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: transparent;
	font-size: inherit;
}

input:focus {
	outline: none;
}